<!DOCTYPE html>
<head>
    <title>Hello ALL</title>
</head> 
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to ELearning</h1>
        </div>
        <div class="emai-body">
            <p>Hello <%= user.name %></p>
            <p>Thank you for registering. Your activate code is </p>
            <h2><%= activationCode %></h2>
            <p>Please enter the code within next 5 minutes</p>
        </div>
        <div>
            <p>If you have any query. Please contact at <a href="mailto:kharelpriyanshu01@gmail.com">kharelpriyanshu01@gmail.com</a></p>
        </div>
    </div>
</body>
</html>