<!DOCTYPE html>
<head>
    <title>Hello ALL</title>
</head> 
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Order Confirmation</h1>
        </div>
        <div class="emai-body">
            <p>Order #: <%= order._id %></p>
            <h2>Order Date: <%= order.date %></h2>
            <h2>Order Name: <%= order.name %></h2>
            <h2>Order Price: <%= order.price %></h2>
        </div>
        <div>
            <p>If you have any query. Please contact at <a href="mailto:kharelpriyanshu01@gmail.com">kharelpriyanshu01@gmail.com</a></p>
        </div>
    </div>
</body>
</html>