<!DOCTYPE html>
<head>
    <title>New Reply Notification</title>
</head> 
<body> 
    <h1>Hello <%= name %>,</h1>
    <p>A new reply has been added to your question in the video "<%= title %>".</p>
    <h2>Please login to our website to view the reply and continue the discussion</h2>
    <p>Thank you for being part of our community</p>     
</body>
</html>